.archives-wrapper{
	@include breakpoint(medium) {
		-webkit-order: 1; 
		-ms-order: 1; 
		order: 1; 
	}	
}

.archives-title{
	color: $white; 
	padding-left: 1rem;

}

.days, .shows {
	border: none;
	background-color: smartscale($accordion-title-background, -10%);
	
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;		
}

.days{
	>.accordion-content{
		padding: 0; 
	}
}

.days,
.day,
.shows,
.show,
.songs,
.song {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

	span{
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}	    

}

.show{
	.accordion-title{
		background-color: smartscale($accordion-title-background, -10%);
		&:hover{
			background-color: smartscale($accordion-title-background, 0);
		}
	}
	&.accordion-item.is-active{
		
		background-color: smartscale($accordion-title-background, 5%);
		
		.accordion-title{
			background-color: smartscale($accordion-title-background, 5%);			
		}
	}
	>.accordion-content{
		padding: 0; 
	}
	
	// .button{
	// 	margin-bottom: 0.15rem; 
	// }
}

.songs{
	margin: 0; 
}

.block-list li.song{
	border-color: $white;
	font-size: 0.8rem; 
	
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	
	span{
		cursor: pointer;
		color: $white;
		line-height: 1.5;				

		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;		

	}

	&:after{
		color: $white; 
	}

	&:hover{
		background-color: smartscale($accordion-title-background, 50%);
		span{
			color: smartscale($accordion-title-background, -50%);		
		}
	}

	&.active{
		background-color: $dark-color;
		span{			
			color: smartscale($accordion-title-background, 90%);
		}
	}
}