//- TEMPLATE Body
body
	.container
		header
			h1 Todo List
			p angular integration
	//- div(ng-app='todolist')
	//- 	h1 Todo List (#{incompleteCount})
	//- 	label.hide-completed
	//- 		input(type="checkbox" checked="#{hideCompleted}")
	//- 		| Hide Completed Tasks
	//- 	//- add a User signUp
	//- 	+loginButtons
	//- 	if currentUser
	//- 		form.new-task
	//- 			input(type="text" name="text" placeholder="Type to add new tasks")

	//- //- list of tasks published
	//- ul
	//- 	each tasks
	//- 		+task